<h1>
  <span class="far fa-plus-square"></span> Create
</h1>

<form method="post" action="/todo/create">
  <div class="form-group">
    <input type="text" class="form-control" name="description" placeholder="Enter a new to-do description here" required="required" autofocus="autofocus" />
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Save</button>
</form>